.mat-form-field-width {
    font-size: 14px;
    width: 390px;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(20, 21, 39, 255);
}

.custom-checkbox .mat-checkbox-layout {
    position: relative;
    padding-left: 24px;
  }
  
  .custom-checkbox .mat-checkbox-frame {
    border-color: red;
  }
  
  .custom-checkbox .mat-checkbox-inner-container {
    background-color: red;
  }
  
  .custom-checkbox .mat-checkbox-checked .mat-checkbox-inner-container {
    background-color: blue;
  }
  
  .custom-checkbox .checkbox-text {
    color: white;
  }